{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}
<link href="{{ STATIC_URL }}css/bootstrap-datepicker.css" rel="stylesheet">
{% endblock header %}

{% block body %}
<div class="jumbotron">
    <div class="container">
    <div class="col-md-6">
        <h1>NiteAbout</h1>
        <div class="col-md-offset-2 tag">Stop Planning, Start Doing.</div>
    </div>
    <form id="goform" class="col-md-6" method="POST">
        {% csrf_token %}
        <table>
            <div class="input-group">
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
            </div>
        </td>
    </tr>
        </table>
    </form>
    <div style="text-align:center">
    <button id="gobutton" class="btn btn-lg btn-primary" type="button">Let's Go!</button>
</div>
</div>
</div>
{% endblock body %}

{% block script %}
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script>
$(document).ready(function() {
        $(".datepicker").datepicker();
        });
$("#gobutton").click( function() {
   $("#goform").submit();
   });
</script>
{% endblock script %}
