{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="col-md-6">
            <h1>NiteAbout</h1>
            <div class="col-md-offset-2 tag">Stop Planning, Start Doing.</div>
        </div>
        <table class="col-md-6">
            <thead>
                <tr>
                    <th>Current Events</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>
                        <a href="{% url "event" event.pk %}">{{ event.name }}</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    Looks like there aren't any events coming up soon.
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}
