{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}
<link href="{{ STATIC_URL }}jqueryui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">

{% endblock header %}

{% block body %}
{% if user.businessprofile %}
{{ user.businessprofile }}
{% else %}
<div class="jumbotron">
    <h1>NiteAbout</h1>
    <p class="lead">Give us the What, Who, and When, and we'll do the rest</p>
    <form action="{% url "plan" %}">
        <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
            <button class="btn btn-lg btn-primary" type="submit">Let's Go!</button>
        </td>
    </tr>
        </table>
    </form>
</div>
{% endif %}
{% endblock body %}

{% block script %}
<script src="{{ STATIC_URL }}jqueryui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script>
$(function() {
        $("#datepicker").datepicker({
            changeMonth:true,
          });
        });
</script>
{% endblock script %}
