{% extends "base.html" %}
{% block title %}Past Plans{% endblock %}


{% block body %}
{% if user.businessprofile %}
    {{ user.businessprofile }}
{% elif user.userprofile %}
<div class="jumbotron">
    <h1>Past Plans</h1>
    <div class="container">
    {% for plan in past_plans.all %}
        <div class="table-responsive col-md-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3 success">Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                <tr id="{{ row.id }}">
                    <td class="success">{{ row.time }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-md-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-2">Activity</th>
                        <th class="col-md-6">Place</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in plan.events.all %}
                <tr>
                    <td>{{ event.activity.activity_name.name|capfirst }}</td>
                    <td>{{ event.place }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
</div>
{% endif %}
{% endblock body %}
