{% extends "base.html" %}
{% block title %}Review Places{% endblock %}


{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
    {% if past_places %}
    <h2 class="panel-title">Places You've Been and Haven't Reviewed</h2>
</div>
    <div class="panel-body">
    <div class="container">
        <div class="table-responsive col-md-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-6">Place</th>
                    </tr>
                </thead>
                <tbody>
                {% for place in past_places %}
                <tr>
                    <td><a href="{% url "place" place.id %}">{{ place }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    {% else %}
    <h2>Looks like you've reviewed every place you've been to</h2>
    {% endif %}
</div>
</div>
{% endblock body %}
