{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>You're Good...</h1>
    <p>You're all set and we're now finding a match...</p>
    <p>We estimate it will take a 2-3 weeks.</p>
    <p>In the meantime...</p>
    <div id="fb-root">
        <div id='mfs'>
        </div>
    </div>
    <div id="invite">
        <button id="fb" class="btn btn-large btn-primary">
            Invite Your Wings via Facebook
        </button>
        <p>Or</p>
        <button id="email" class="btn btn-large btn-primary">Send an Email</button>
    </div>
    <form method="POST" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Send"></input>
        <button id="cancel" class="btn btn-primary">Cancel</input>
    </form>
</div>
{% endblock body %}

{% block script %}
<script id="facebook-jssdk" async="" src="//connect.facebook.net/en_US/all.js"></script>
<script>
$(document).ready(function() {
        $('form').hide();
        $('#email').click(function() {
            $('#invite').hide();
            $('form').show();
            });
        $('#cancel').click(function() {
            $('form').hide();
            $('#invite').show();
            });

        $.ajaxSetup({ cache: true});
        $.getScript('//connect.facebook.net/en_US/all.js', function() {
            FB.init({
                appId: '650651538310979',
                });
            $("#fb").click(function() {
                sendDialog();
                }
                );
            });
        });

function sendDialog() {
    FB.ui( { method: 'send',
            link: '{{ niteabout_url }}'
            }
        );
}

</script>
{% endblock script %}
