{% extends "base.html" %}
{% load i18n %}
{% block title %}Restaurant{% endblock title %}

{% block header_extra %}
{{ wizard.form.media }}
{% endblock header_extra %}


{% block body %}
<div class="well">
    <p> Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form id="id_form">
        {% csrf_token %}
        <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_p }}    
            {% endfor %}
            {% else %}
            {{ wizard.form }}
            
            {% endif %}
        </table>
        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first_step" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev_step" %}</button>
        {% endif %}
    <button type="submit" formmethod="post" formaction="{% url "planit" %}" class="btn btn-success">PlanIt!</button>
    </form>
</div>
{% endblock body %}
