{% extends "base.html" %}
{% block title %}{{ business }} Profile{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>{{ business }}</h1>
    <p class="lead"></p>
</div>
<div class="well">
    <h3>{{ business.place.name }}</h3>
    {{ business.place.pos }}
    <div id="map-container">
        <div id="map-canvas" style="width:100%;height:400px">
        </div>
    </div>
    <p>
    <div id="place-details-container">
    </div>
    </p>
    <table class="table">
        <tbody>
    {% for feature in business.place.feature_set.all %}
    <tr><td>{{ feature.feature_name.name|capfirst }}</td><td>{{ feature.rating.get_rating }}</td><td>{{ feature.get_label }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock body %}
