{% extends "base.html" %}
{% block title %}Your NiteAbout{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="table-responsive col-md-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-2">Order</th>
                        <th class="col-md-2">Activity</th>
                        <th class="col-md-6">Place</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in request.session.plan.events.all|dictsort:"activity.order" %}
                <tr>
                    <td>{{ event.activity.order }}</td>
                    <td>{{ event.activity.activity_name.name|capfirst }}</td>
                    <td><a href="{% url "place" event.place.id %}">{{ event.place }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
