{% extends "base.html" %}
{% block title %}Your NiteAbout{% endblock %}

{% block header %}
<link href="{{ STATIC_URL }}jqueryui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
{% endblock header %}

{% block body %}
<div class="well">
    <div class="container">
        {% if template %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Best Matches</h2>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="bestevents" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-1">Activity</th>
                                    <th class="col-md-4">Place</th>
                                </tr>
                            </thead>
                            <tbody class="draggable sortable">
                            {% for event in best_events %}
                            <tr>
                                <td class="activity">{{ event.activity.activity_name.name|capfirst }}</td>
                                <td class="place" value="{{ event.place.id }}">{{ event.place }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Weird Matches</h2>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <form action="{% url "finalize" %}" method="POST">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Activity</th>
                                        <th class="col-md-4">Place</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for event in weird_events %}
                                <tr id="{{ event.id }}">
                                    <td>{{ event.activity }}</td>
                                    <td>{{ event.place }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% if user.is_authenticated %}
        <div class="container">
            <div id="offers" class="col-md-12">
                {% include "plan/offers.html" %}        
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div class="col-md-3">
                {% if user.is_authenticated %}
                <a href="{% url "finalize" %}" class="btn btn-success">Finalize?</a>
                {% else %}
                <a data-toggle="modal" href="#signup" class="btn btn-success">Finalize?</a>
                <div class="modal fade" id="signup" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="container">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Don't Lose Your Plans!</h3>
                                </div>
                            </div>
                            <div class="modal=body">
                                <div class="container">
                                    Sign in to make sure you keep track of your plans.
                                    <div id="signin" class="col-md-6">
                                        <form method="POST" id="signin_form" action="{% url 'django.contrib.auth.views.login' %}">
                                            {% csrf_token %}
                                            {{ signin_form.as_p }}
                                            <button class="btn" name="signin" type="submit">Sign In</button>
                                        </form>    
                                    </div>
                                    <div id="signup" class="col-md-6">
                                        <form method="POST" id="signup" action="{% url "registration_register" %}">
                                            {% csrf_token %}
                                            {{ signup_form.as_p }}
                                            <button class="btn" name="signup" type="submit">Sign Up</button>
                                        </form>    
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% else %}
            Looks like we couldn't find any matches for your criteria.
            {% endif %}
            <div class="col-md-3 col-md-offset-6">
                <a href="{% url "refine" %}" class="btn btn-success">Refine Further?</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block script %}
<script src="{{ STATIC_URL }}js/jquery.tablednd.js"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
}
});

$(document).ready(function() {
        $('#bestevents').tableDnD({
            onDrop: function( event, ui) {
                var arr =  $("#bestevents tbody tr").map( 
                    function() {
                        return {
                            activity:$(".activity", this).text(),
                            place: $(".place", this).attr('value')
                        };
                    }).get();
                $.ajax({
                    data: {plan: JSON.stringify(arr)},
                    url: "update/",
                    type: "POST",
                    success: function(data) {
                        }
                });
            },
        });
        });
</script>
{% if user.is_authenticated %}
<script>
$(window).load( function(e) {
        setInterval(function() {
            fetchOffers();
            }, 5000);
        });

function fetchOffers() {
    $.ajax({
url: "/offers/",
type: "GET",
success: function(data) {
$("#offers").html(data);
}
});
}
</script>
{% endif %}
{% endblock script %}
