{% extends "base.html" %}
{% block title %}Refine{% endblock %}

{% block body %}
<div class="well">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
           <table class="table">
                {{ form.as_table }}
           </table>
           <button type="submit" class="btn btn-success">Refine</button>
        </form>
    </div>
</div>
</div>
{% endblock body %}

{% block script %}
<script>
        {% for feature_name in form.fields %}
$(document).ready(function() {
        $('#id_{{ feature_name }}').parent().after('<td class="col-lg-6" id="id_{{ feature_name }}_feature_label"></td>');
        var currentLabel = $('#id_{{ feature_name }}_feature_label');
         var descriptions = {};
         {% for feature in place.feature_set.all %}
         {% if feature.feature_name.name == feature_name %}
         {% for label in feature.feature_name.featurelabel_set.all %}
            descriptions[{{ label.value }}] = "{{ label.label }}";
            {% endfor %}
            {% endif %}
            {% endfor %}
         $( '#id_{{ feature_name }}' ).change(function() {
             currentLabel.html(descriptions[this.value]);
             });
         currentLabel.html(descriptions[$('#id_{{ feature_name }}').val()]);
         });
        {% endfor %}
</script>
{% endblock script %}
