{% extends "base.html" %}
{% block title %}{{ place.name }}{% endblock %}


{% block body %}
<div class="well">
    <h3>{{ place.name }}</h3>
    {{ place.pos }}
    <div id="map-container">
        <div id="map-canvas" style="width:100%;height:400px">
        </div>
    </div>
    <p>
    <div id="place-details-container" class="text-center">
        <div id="travelMode" class="btn-group" name="travel-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" onchange="calcRoute($(this).val())" value="WALKING">Walking
            </label>
            <label class="btn btn-primary">
                <input type="radio" onchange="calcRoute($(this).val())" value="DRIVING">Driving 
            </label>
        </div>
    </div>
    </p>
    <p>
    <h3 style="display: inline">Total Distance:</h3><div id="totalDistance" style="display: inline"></div>
    </p>
    {% if place.barspecial_set.all %}
    {% for special in place.barspecial_set.all %}
    {{ special.start_time }} - {{ special.end_time }}:
    <p>{{ special.deal }}</p>
    {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
    <button type="submit" class="btn btn-primary text">Rate</button>
    </form>
    {% endif %}
</div>
{% endblock body %}

{% block script %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaLOIWJwRzsQWsWBrfdRA4C5XRnzenh5s&sensor=true"></script>
{% include "place/place_view_js.html" %}
<script>
        {% for feature_name in form.fields %}
$(document).ready(function() {
        $('#id_{{ feature_name }}').parent().after('<td class="col-lg-6" id="id_{{ feature_name }}_feature_label"></td>');
        var currentLabel = $('#id_{{ feature_name }}_feature_label');
         var descriptions = {};
         {% for feature in place.feature_set.all %}
         {% if feature.feature_name.name == feature_name %}
         {% for label in feature.feature_name.featurelabel_set.all %}
            descriptions[{{ label.value }}] = "{{ label.label }}";
            {% endfor %}
            {% endif %}
            {% endfor %}
         $( '#id_{{ feature_name }}' ).change(function() {
             currentLabel.html(descriptions[this.value]);
             });
         currentLabel.html(descriptions[$('#id_{{ feature_name }}').val()]);
         });
        {% endfor %}
</script>
{% endblock script %}
